In [3]:
import requests
import json
import pandas as pd
from IPython.display import clear_output

In [4]:
#Lets retrieve form the API the following indicators for all the available countries.

#23806	Population with at least some secondary education (% ages 25 and older)
#44206	Population, total (millions)
#46006	Mobile phone subscriptions (per 100 people)
#52306	Research and development expenditure (% of GDP)
#53506	Foreign direct investment, net inflows (% of GDP)
#68606	GII: Gender Inequality Index, value
#128306	Prison population (per 100,000 people)
#137506	HDI: Human development index (HDIg) value
#137906	GDI: Gender Development Index
#185506	Population using at least basic drinking-water services (%)
#185606	Population using at least basic sanitation services (%)
#43606	Internet users (% of population)
#61006	Homicide rate (per 100,000 people)

#Lets make a list
indicators = [23806, 44206, 46006, 52306, 53506, 68606, 128306, 137506, 137906, 185506, 185606,43606, 61006]
total = len(indicators)
data_df = pd.DataFrame({'Country' : [], 'Year' : []})
count = 0

for kpi in indicators:
    url="http://ec2-54-174-131-205.compute-1.amazonaws.com/API/HDRO_API.php/indicator_id=" + str(kpi)
    
    response=requests.get(url).json()
    country_ID=[]
       
    for x in response["indicator_value"]:
        country_ID.append(x)
    
    year_dict=[]
    for x in country_ID:
        year_dict.append(response["indicator_value"][x][str(kpi)])
    
    temp_df=pd.DataFrame(year_dict)
    temp_df.index=country_ID
    temp_df.reset_index(inplace=True)
    temp_df.rename(columns={'index' : 'Country'}, inplace=True)
    temp_df = pd.melt(temp_df, id_vars = ["Country"], var_name="Year", value_name = kpi)
    temp_df = temp_df.set_index(['Country', 'Year'])
    
    if indicators.index(kpi) == 0:
        data_df = temp_df
    else:
        data_df = pd.merge(temp_df, data_df, on = ['Country', 'Year'])
        
    count += 1
    clear_output(wait=True)

    print(f'Iteration {count} of {total}')
    
data_df

Iteration 13 of 13

,,61006,43606,185606,185506,137906,137506,128306,68606,53506,52306,46006,44206,23806
Country,Year,,,,,,,,,,,,,
ARE,2010,0.8,68.00,99.0,96.0,NaN,0.821,NaN,0.231,3.036,NaN,127.790,8.550,64.285
ARG,2010,NaN,45.00,93.0,98.0,0.990,0.818,144.0,0.371,2.675,0.561,139.580,40.896,56.940
ARM,2010,1.9,25.00,91.0,98.0,0.952,0.729,179.0,0.345,5.716,0.241,134.339,2.877,NaN
AUS,2010,1.0,76.00,100.0,100.0,0.975,0.926,134.0,0.138,3.072,2.380,101.559,22.155,93.200
AUT,2010,0.7,75.17,100.0,100.0,0.969,0.895,105.0,0.111,-5.615,2.726,145.554,8.410,100.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UZB,2014,1.5,35.50,100.0,97.0,0.941,0.693,144.0,0.291,0.988,0.196,71.120,30.426,99.893
VEN,2014,61.9,57.00,94.0,96.0,1.022,0.770,167.0,0.471,0.235,0.337,101.615,30.043,68.863
VNM,2014,NaN,41.00,78.0,92.0,1.003,0.675,154.0,0.330,4.941,NaN,148.449,91.714,71.725
ZAF,2014,32.6,49.00,73.0,91.0,0.983,0.691,284.0,0.428,1.652,0.771,145.351,54.544,74.903
ZMB,2014,5.3,NaN,26.0,58.0,0.933,0.565,110.0,0.584,5.553,NaN,65.682,15.400,39.008

In [13]:
data_df.to_csv('human_development_data.csv')